body {
    margin:0;
    background: linear-gradient(to left bottom, #DDD6F3, #faaca8);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.container {
    background-color: rgba(255,255,255,.30);
    padding: 20px;
    box-shadow: 0 6px 10px rgba(0,0,0,.3);
    border-radius: 15px;
    width: 85%;
    text-align: center;
    color: rgb(168, 83, 96);
}

.heading {
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 5px 5px 2px rgba(0,0,0,.15);
    letter-spacing: 2px;
}

.joke {
    font-size: 25px;
    font-weight: 500;
    margin: 40px;
}

.btn {
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, .6);
    text-transform: uppercase;
    width: 300px;
    color: rgb(168, 83, 96);
}

.btn:hover{
    background-color: rgba(225,225,225,.4);
    box-shadow: 0 4px 4px rgba(0,0,0,.3);  
    transition: all 300ms ease; 
}